@page "/btt"
@using System.Text
@using BottomTextTranslator
@inject HttpClient Http

<h3>BTT</h3>


<EditForm Model="MessageInput">
    <label id="toplabel">Text to Encode into Bottom</label>
    <InputTextArea class="form-control" @bind-Value="@MessageInput"/>
</EditForm>


    <select class="form-select" @bind="@SelectedKeyType">
        @foreach(var keytype in BottomText.GetSupportedKeyboardLayouts())
        {
            <option value="@keytype">@keytype</option>
        }
    </select>

<button class="btn btn-primary" @onclick="InputSwap">Swap Input</button>
<button class="btn btn-primary" @onclick="SubmitBTTFuncReq">Translate</button>
<br />
<label id="bottomlabel">Text Encoded in BottomText</label>


<EditForm Model="MessageOutput">
    <InputTextArea class="form-control" @bind-Value="@MessageOutput"/>
</EditForm>
    


@code {
    public string MessageInput = "input area";
    public string MessageOutput = "output area";
    public string SelectedKeyType = "QWERTY";




    private Boolean Encode = true; //encode = true, decode = false

    private void InputSwap()
    {
        Encode = !Encode;
        MessageInput = MessageOutput;
        MessageOutput = string.Empty;
    }

    private void SubmitBTTFuncReq()
    {
        if(String.IsNullOrEmpty(MessageInput))
        {
            return ;
        }

        MessageOutput = Encode ? BottomText.Encode(MessageInput, SelectedKeyType) : BottomText.Decode(MessageInput, SelectedKeyType);

        //StateHasChanged();

        //return MessageOutput;
    }

    
}


